<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/USERNAME/REPOSITORY/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="CryptoEmo-dev" value="USERNAME" />
      <add key="" value="" />
    </github>
  </packageSourceCredentials>
</configuration>
